<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                {% include newsletter.html %}
            </div>
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    {% for link in site.social %}
                    <li>
                        <a href="{{ link.username | prepend: link.url }}">
                            <span class="fa fa-{{ link.name }}"></span>
                            <span class="username">{{ link.username }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <p>{{ site.description }}</p>
                <p>{{ site.donate }}</p>
            </div>
        </div>
    </div>
</footer>
